[Unit]
Description=Golang proxy server in Docker: https://github.com/OOOlledj/socks5-proxy
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/ooolledj/socks5-proxy
ExecStart=/usr/bin/docker run --rm --name go-proxy -p 12345:12345 goproxy:local
ExecStop=/usr/bin/docker container stop -t 1 go-proxy
Restart=on-failure
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target
