[Unit]
Description=Golang proxy server in Docker: https://github.com/OOOlledj/socks5-proxy
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/ooolledj/Documents/Проекты Golang/socks5-proxy
ExecStartPre=docker container rm goproxy --force
ExecStart=docker run --name goproxy -p 12345:12345 goproxy:local
ExecStop=docker container stop goproxy
Restart=no

[Install]
WantedBy=multi-user.target
